RecordId,AssetId,DriveSerial,ReleasedBy,ReceivedBy,Timestamp,Purpose
COC-{{ prefix }}-017,{{ prefix }}-LAP-017,SN-{{ prefix }}-88421,Jordan Lee,Approved Destruction Vendor,2026-06-02 09:15,Destruction
