ACS APPROVED MEDIA DESTRUCTION CERTIFICATE
Certificate ID: VDC-{{ prefix }}-2026-017
Asset ID: {{ prefix }}-LAP-017
Drive Serial: SN-{{ prefix }}-88421
Method: Physical shredding
Vendor: Secure Media Destruction Services
Status: DESTROYED
Witness: M. Alvarez
Date: 2026-06-02
