AssetName,AssetType,Owner,Documented,LastReviewed,Notes
{{ prefix }}-DC,Domain Controller,ACS IT Operations,Yes,2026-07-01,Pod{{ pod_id_padded }} domain services
{{ prefix }}-GW,Firewall/Gateway,ACS Network Team,Yes,2026-07-01,pfSense gateway 10.51.{{ pod_id }}.1
{{ prefix }}-APP01,Application Server,ACS Business Systems,Yes,2026-07-01,Line-of-business application host
