Hostname,OS,AV_Product,Definition_Version,Definition_Date,Days_Since_Update,Max_Allowed_Days,Compliant
{{ prefix }}-WS01,Windows 11 Pro,Microsoft Defender,1.411.234.0,2026-06-01,0,7,YES
{{ prefix }}-ACS-SRV-002,Windows Server 2022,Microsoft Defender,1.411.234.0,2026-06-01,0,7,YES
{{ prefix }}-PRINT-01,Windows Server 2022,Microsoft Defender,1.411.230.0,2026-05-30,2,7,YES
{{ prefix }}-ACS-DC01,Windows Server 2022,Microsoft Defender,1.411.234.0,2026-06-01,0,7,YES
{{ prefix }}-Legacy_Server,Windows Server 2016,Microsoft Defender,1.289.1521.0,2019-03-22,2628,7,NO
{{ prefix }}-DEV-Laptop-04,Windows 11 Pro,NONE,N/A,N/A,N/A,7,NO
