Hostname,MAC Address,IP Address,Status,Department,Last Verified
DC01-P{{ pod_id }},00-15-5D-01-{{ pod_id }}-10,10.50.{{ pod_id | int }}.10,AUTHORIZED,IT,2026-01-15
WS01-P{{ pod_id }},00-15-5D-01-{{ pod_id }}-20,10.50.{{ pod_id | int }}.20,AUTHORIZED,General,2026-01-15
PRINT-P{{ pod_id }},00-15-5D-01-{{ pod_id }}-30,10.50.{{ pod_id | int }}.30,AUTHORIZED,Facilities,2026-01-15
