EventId,Timestamp,Credential,Door,Result
BC-5001,2026-06-06 15:55,TEMP-{{ prefix }}-014,Main Lobby,Granted
BC-5002,2026-06-06 16:18,TEMP-{{ prefix }}-014,Server Room,Granted
BC-5003,2026-06-06 18:42,TEMP-{{ prefix }}-014,Server Room,Granted
BC-5004,2026-06-06 21:58,B-{{ prefix }}-101,Server Room,Granted
